{% extends "layout.html" %}

{% block head %}

<title>Portfolio</title>

{% endblock %}

{% block content %}

<div id="wrapper">
  <img src="https://avatars2.githubusercontent.com/u/22185823?s=400&u=3187113eec6ce4161d62d1860d505a23c4752c05&v=4"
    alt="birobirobiro">
  <h1>João Inácio</h1>
  <h2>Community Experience - Rocketseat</h2>
  <p>Mobile Developer, focado em trazer o melhor ensino para iniciantes em programação. Colaborador da <a
      href="https://www.rocketseat.com.br" target="_blank">Rocketseat</p>
</div>


<div id="links-footer" class="links">
  <a href="https://github.com/birobirobiro" target="_blank">Github</a>
  <a href="https://twitter.com/birobirobiro_/" target="_blank">Twitter</a>
  <a href="https://linkedin.com//in/joaoinacioneto/" target="_blank">Linkedin</a>
</div>

{% endblock %}