<!DOCTYPE html>

<html>

<head>

  {% block head %}
  
    <title>Portfolio</title>

  {% endblock %}

  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <header>
    <div class="links">
      <a href="/">Sobre</a>
      <a href="/portfolio">Aulas</a>
    </div>
  </header>

  {% block content %}

  {% endblock %}

</body>

</html>