{% extends "layout.njk" %}
{% block head %}
<title>GoStack - Rocketseat</title>
{% endblock %}
{% block content %}
<div class="main" id="gostack">
    <div class="card__image-container"> 

        <img src="https://miro.medium.com/fit/c/1838/551/1*fs0ScMc45X9QEwno8G414A.png" alt="starter">
   
    </div>
    <div class="main__content">

        <h1><b class="strong-starter">GOSTACK</b></h1>
        <p >DESCRIÇÃO</p >

    </div>
</div>
<div class="description">
    <div class="title">

        <h1>Perguntas frequentes</h1>

    </div>
    <article class="text">

        <h2>Pergunta</h2>
        <p>Resposta</p>

    </article>
    <article class="text">

        <h2>Pergunta</h2>
        <p>Resposta</p>
        
    </article>
    <article class="text">

        <h2>Pergunta</h2>
        <p>Resposta</p>

    </article>
</div>
{% endblock %}