<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/assets/food.ico" type="image/x-icon"/>

    {% block head %}
    {% endblock %}

  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="menu">
          <a href="/"><img src="/assets/logo.png" alt="logo"></a>
          <a href="/sobre">Sobre</a>
          <a href="/receitas">Receitas</a>
        </div>
      </header>
      {% block content %}
      {% endblock %}
    </div>

    <footer class="footer">
      <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>
  </body>

  {% block modal %}
  {% endblock %}
</html>