{% extends "layout.njk" %}

{% block head %}
  <title>Receitas</title>
{% endblock %}

{% block content %}

  <section class="recipes-page">

    <div class="recipes-grid">
    {% for recipe in recipes %}
    <a href="/recipes/{{loop.index0}}">
      <div class="recipes-item" id="burguer">
        <img src="{{recipe.image}}" alt="{{recipe.title}}">
        <h3>{{recipe.title}}</h3>
        <h5>{{recipe.author}}</h5>
      </div>
      </a>
    {% endfor %}
    </div>
 
  </section>
{% endblock %}

{% block modal %}
  {# <script src="/modal.js"></script> #}
{% endblock %}