{% extends "layout.njk" %}

{% block head %}
  <title>Detalhes das Receitas</title>
{% endblock %}

{% block content %}

  <div class="container-recipe-details">

    <img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png" alt="">

    <div class="recipes-details-title-container">
    
    <p class="recipes-details-title">Triplo bacon burger</p>

    <p class="recipes-details-title-author">por Jorge Relato</p>
    
    </div>

    <div class="recipes-details-ingredients-container">
    

    <div class="recipes-details-ingredients-title">
      <p>Ingredientes</p>

       <div class="recipes-details-hide-show">
        ESCONDER
      </div>
    </div>

   

    <div class="recipes-details-ingredients">
        <ul>

        <li>  3 kg de carne moída (escolha uma carne magra e macia)   ; </li>
        <li>  300 g de bacon moído; </li>
        <li>  1 ovo; </li>
        <li>  3 colheres (sopa) de farinha de trigo; </li>
        <li> 3 colheres (sopa) de tempero caseiro: feito com alho, sal, cebola, pimenta e cheiro verde processados no liquidificador; </li>
        <li>  30 ml de água gelada; </li>

        </ul>
    </div>


    <div class="recipes-details-preparation">
      <p>Modo de preparo</p>
    </div>  

    <div class="recipes-details-hide-show">
      MOSTRAR
    </div>
    
    <div class="recipes-details-additional-information">
      <p>Informações adicionais</p>
    </div>

    <div class="recipes-details-hide-show">
      ESCONDER
    </div>
    
    Preaqueça a chapa, frigideira ou grelha por 10 minutos antes de levar os hambúrgueres. Adicione um pouquinho de óleo ou manteiga e não amasse os hambúrgueres!

    Você sabia que a receita que precede o    hambúrguer surgiu no século XIII, na Europa? A    ideia de moer a carne chegou em Hamburgo no    século XVII, onde um açogueiro resolveu também   temperá-la. Assim, a receita foi disseminada     nos Estados Unidos por alemães da região. Lá    surgiu a ideia de colocar o hambúrguer no meio    do pão e adicionar outros ingredientes, como   queijom tomates e alface.
    </div>


  </div>

{% endblock %}